/venv/
__pycache__
GatorHoldEm/__pycache__/
/.idea/
/dist/
/GatorHoldEm/__pycache__/
/GatorHoldEm/res/HandRanks.dat
/GatorHoldEm/CMakeFiles/
GatorHoldem/CMakeCache.txt
GatorHoldem/Makefile
GatorHoldem/cmake_install.cmake
